<h1><%= @place["name"] %></h1>

<ul>
  <% for entry in @entries %>

      <h2><%= entry["title"]%></h2>
      <h4><%= entry["posted_on"]%></h4>
      <p><%= entry["description"]%></p>
      <br>
  <% end %>
</ul>

<p>
  <a href="/entries/new">New Entry</a>
</p>
<p>
  <a href="/places">Back to all places</a>
</p>